<mat-toolbar>

    <div class="spacer"></div>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" mat-button routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" mat-button routerLink="/contacts" routerLinkActive="active">Contacts</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" mat-button routerLink="/projects" routerLinkActive="active">Projects</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" mat-button routerLink="/about" routerLinkActive="active">About</a>
    </li>
</mat-toolbar>