.notice {
    color: var(--navbar-text);
    font-size: small;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center; /* Optional: Centers the text horizontally */
    padding: 10px; /* Optional: Adds some padding */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow */
}

.notice>a {
    color: var(--navbar-text);
    text-decoration: underline;
    text-decoration-color: var(--navbar-text);
    transition: 0.2s;
}
.notice>a:hover {
    color: var(--link-hover);
    text-decoration-color: var(--link-hover);
    transition: 0.2s;
}