/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --back: #080808;
    --back-high: #101010;
    --back-mid: #303030;
    --back-low: #505050;
    --mid: #808080;
    --front-low: #a0a0a0;
    --front-mid: #c0c0c0;
    --front-high: #e0e0e0;
    --front: #ffffff;
    --link: #0078d7;
    --link-hover: #005299;

    --navbar-background: #004f4f7c;
    --navbar-text: #04d6d3;
}


body, html {
    background-color: #191c1c;
    color: #f7fdff;
}


.container {
    padding: 25px;
    margin: 2% auto;
    max-width: 90%;
    height: 80%;
    border: #a0a0a0 1px solid;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--navbar-text);
}   

.notice-small {
    color: var(--navbar-text);
    font-size: small;

}

.notice-medium {
    color: var(--navbar-text);
    font-size: medium;
}

.notice-large {
    color: var(--navbar-text);
    font-size: large;
}

.notice>a {
    color: var(--navbar-text);
    text-decoration: underline;
    text-decoration-color: var(--navbar-text);
    transition: 0.2s;
}
.notice>a:hover {
    color: var(--link-hover);
    text-decoration-color: var(--link-hover);
    transition: 0.2s;
}